body{
    background: #121822;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}
label{
    display: block;
    color: #3478E5;
    padding: 10px;
}
input{
    padding: 10px 10px 10px 10px;
    border: solid#3478E5 3px;
    border-radius: 5% / 40%;
    background-color: #121822;
    color: white;
    font-size: 18px;
}
input:focus {
    outline: none;
    border: solid#295EB3 3px;
}
p{
    margin-bottom: 600px;
    position: absolute;
    color: #3478E5;
    font-size: 32px;
}
.container{
    gap: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    flex-direction: column;
	animation: slide-top 1.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
}
@keyframes slide-top {
  0% {
    transform: translateY(2000px);
  }
  100% {
    transform: translateY(0);
  }
}
img{
    width: 200px;
    height: auto;
    margin-bottom: 400px;
    position: absolute;
}
.box{
    border: solid #364866 2px;
    min-width: 100px;
    padding: 40px 60px 20px 60px;
    text-align: center;
    border-radius: 20% / 15%;
    font-size: 22px;
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    gap: 20px;
}
.terms{
    font-size: 10px;
    color: white;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: #3478E5;
}
.credentials{
    margin-top: 160px;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.submit-btn{
    width: 120px;
    height: 60px;
    margin-top: 60px;
    border-radius: 20% / 40%;
    border: none;
    background-color: #3478E5;
    color: black;
    font-size: 22px;
}
.submit-btn:hover{
    background-color: #295EB3;
    cursor: pointer;
}
#passwordsError{
    display: none;
    color: red;
    font-size: 16px;
}
